body{
    background-color: rgb(233, 183, 183);
    color: rgb(0, 0, 0);
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}
*{
    box-sizing: border-box;
}
a:hover{
    cursor: pointer;
}

.container{
    margin: 20px 50px;
}

.input-container{
   
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap:30px;
    padding: 0;

}

.degree{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.input-container input{
    background-color: rgb(235, 145, 145);
    border: 1px solid rgb(0, 0, 0);
    height: 40px;
    padding-left: 10px;
    width: auto;
    color: rgb(0, 0, 0);
}

.icons{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap:10px
}
.table{
    border: 1px solid rgb(0, 0, 0);
    width:100%;
    border-spacing: 0;
    min-height: 200px;
    overflow-x: auto;
}

th,td{
    text-align: center;
}
th{
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    padding: 10px;
}
td{
    padding: 10px;
    border-right: 1px solid rgb(0, 0, 0);
}
tbody{
    height: auto;
}

.search{
    width:100%;
    background-color: rgb(235, 145, 145);
    border: 1px solid rgb(0, 0, 0);
    height: 40px;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 20px;
    width:100%;
    padding-left: 10px;
    color: rgb(0, 0, 0);
}


.button {
    height: 40px;
    width: 400px;
    margin: 20px;
    margin-left: 0;
    margin-top: 30px;
}